body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: #ece9e8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0px;
}
/************************************  home start ************************************/

/************************************  home end ************************************/
/************************************  header start ************************************/

.header_area {
  display: flex;
  justify-content:space-between;
  padding: 24px 60px 24px 60px;
  background: #383838;
}
.header_logo{
  position: absolute;
}
.header_logo img {
  width: 100px;
}
.header_area .header_link {
  padding: 6px 0px 0px 0px;
}
.header_area .header_link .link {
  padding: 0px 0px 0px 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.header_area .header_link .link:hover {
  color: #ffc513;
}
/************************************  header end ************************************/

/************************************  Service start ************************************/

.services_area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0px 60px;
}
.heading {
  text-align: center;
  margin: 30px 0px 30px 0px;
  font-weight: bold;
  color: #333;
}
/************************************  Service end ************************************/

/************************************ show Service start ************************************/

.service-img {
  position: relative;
  width: 100%;
}
.service-img img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 10px 10px;
}
.service-container {
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 200px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s;
}

.service-container:hover {
  opacity: 1;
}
.service {
  padding: 0px 0px 50px 0px;
  border-radius: 10px;
  text-align: center;
  background: #383838;
  color: #fff;
}
.service:hover {
  transform: scale(1.15);
  box-shadow: 0 25px 40px rgba(109, 109, 109, 0.8);
  animation-delay: 0.3s;
}
.service-info {
  text-align: center;
  padding: 0px 8px 0px 8px;
}
.service-info .info_name {
  padding: 10px 0px;
  font-size: 17px;
}
.service-info .info_des {
  font-size: 13px;
}
.service-info .info_price {
  font-size: 13px;
  padding: 8px 0px;
}
.price {
  color: #ffc513;
  font-weight: 500;
}
.service-button {
  display: flex;
  justify-content: center;
}
.service-button button {
  margin: 80px 0px 0px 0px;
  width: 160px;
  height: 30px;
  border-radius: 4px;
  border: none;
  background: #ffc513;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

/************************************ show Service end ************************************/

/************************************ Home Service start ************************************/
.HomeServiceButton{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.serviceButton{
  height: 40px;
    width: 160px;
    border-radius: 6px;
    background: #383838; 
    /* background: #ffc513; */
    border: none;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
}
/************************************ Home Service end ************************************/


/************************************ experts start ************************************/
.experts_area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0px 60px;
}

.expert-img img {
  width: 100%;
  border-radius: 8px;
}

/************************************ experts end ************************************/

/************************************ expert start ************************************/

.expert {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0px 0px 0px 0px;
  border-radius: 8px;
}
.expert-info {
  text-align: center;
  padding: 0px 30px;
}

.expert-info .expertName {
  font-size: 17px;
  padding: 18px 0px 8px 0px;
  font-weight: bold;
  color: #383838;
}

.expert-info .expertDes {
  font-size: 14px;
  color: #7b7a7a;
  padding: 0px 0px 20px 0px;
}

/************************************ expert end ************************************/

/************************************ banner start ************************************/

.img {
  height: 580px;
}

/************************************ banner end ************************************/

/************************************ login start ************************************/

.login_area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 60px 90px 60px 90px;
}
.login-img img {
  width: 100%;
  height: 580px;
  border-radius: 10px 0px 0px 10px;
}

.login-info {
  background: #383838;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
}

.user-heading {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin: 50px 0px 20px 0px;
}

.form {
  display: flex;
  justify-content: center;
}

.input {
  width: 385px;
}
.input-control {
  background: none;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #f3f3f3;
}
.input-control:focus {
  background: none;
  color: #f3f3f3;
}
.button {
  width: 385px;
  background: #fff;
  color: #383838;
  border: none;
  margin: 30px 0px 20px 0px;
  font-weight: 700;
  transition: 0.2s;
}
.button :hover {
  color: #fff;
  background: #ffc513;
  border-color: none;
}
.btn-primary:hover {
  color: #fff;
  background: #ffc513;
  border-color: none;
}
.forget {
  color: #fff;
  text-align: right;
}

.forget .password {
  font-weight: 400;
  font-size: 12px;
  background: none;
  border: none;
  margin: -27px 0px 0px 0px;
}

.form-control:focus {
  color: none;
  background-color: none;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

::placeholder {
  color: #fff;
}

.account {
  color: #fff;
  font-size: 12px;
}
.user-join {
  color: #ffc513;
  font-size: 12px;
  font-weight: 600;
}
.user-join:hover {
  color: #ffc513;
}

.icons-list {
  margin: 40px 0px 0px 0px;
}
.icon-text {
  color: #ffc513;
  font-size: 12px;
  padding: 0px 5px 10px 0px;
}

.icons-list .direct-link {
  font-size: 15px;
  color: #fff;
  padding: 0px 6px 0px 0px;
  text-align: center;
  border: 1px solid #ffc513;
  background: none;
  height: 34px;
  width: 100px;
  margin: 0px 5px 0px 0px;
  cursor: pointer;
}
.btn-primary:focus{
  outline:0;
 
}
.icons-list .direct-link:hover{
  color: #ffc513;
  background: #fff;
  border: none;
  transition: .3s;
  height: 40px;
  width: 110px;
  font-weight: bold;
}


.faxmark{
  display: none;
}
.fabars{
display: none;    
}
/************************************ login end ************************************/

/************************************ registration start ************************************/
.SignUp_area{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 60px 90px 60px 90px;
}

.SignUp-img img{
  width: 100%;
  height: 580px;
  border-radius: 10px 0px 0px 10px;
}

.signUp-info{
  background: #383838;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
}
/************************************ registration end ************************************/
