/************************************  Service start ************************************/

.services_area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0px 60px;
}

@media (max-width: 1199px) {
  .services_area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .services_area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .services_area {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 30px;
  }
}

@media (max-width: 320px) {
}

/************************************  Service end ************************************/

/************************************ show Service start ************************************/

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
  .service-button {
    display: flex;
    justify-content: center;
  }
  .service-button button {
    margin: 80px 0px 0px 0px;
    width: 140px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background: #ffc513;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
    
}

@media (max-width: 576px) {
  .service-button {
    display: flex;
    justify-content: center;
  }
  .service-button button {
    margin: 80px 0px 0px 0px;
    width: 160px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background: #ffc513;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
}

@media (max-width: 320px) {
}

/************************************ show Service end ************************************/



/************************************ experts start ************************************/


@media (max-width:1199px) {
  .experts_area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:991px) {
 
}


@media (max-width:767px) {
  .experts_area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
}

@media (max-width:576px) {
  .experts_area{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
  }
}

@media (max-width:320px) {
 
}

/************************************ experts end ************************************/



/************************************ header start ************************************/



@media (max-width:1199px) {
    
}

@media (max-width:991px) {

  .header_area {
    padding: 24px 60px 52px 60px;
}

  .header_link{
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 3;
    width: 30%;
    left: 0;
    background: #383838;
    height: 100vh;
    
  }

  .header-linkup{
    display: grid;
    justify-content: left;
    padding: 55px 0px 0px 25px;
    text-align: left;
    position: relative;
  }
  .header_area .header_link .link {
    padding: 0px 0px 25px 25px;
    
}
  .up {
    margin-left: 0px;
    transition: 0.5s;

  }

  .down {
    margin-left: -400px;
    transition: 0.5s;
  }


  .fabars{
    display: block;
    position: absolute;
    right: 40px;
    top: 27px;
    color: #fff;
    font-size: 25px;

  }
  .faxmark{
    display: block;
    position:absolute;
    top: 10px;
    color: #fff;
    font-size: 25px;
    left: 206px;
  }

  
}


@media (max-width:767px) {
  .header_link{
    width: 35%;
  }
  .faxmark{
    left: 176px;
  }
}

@media (max-width:576px) {
  .header_link{
    width: 45%;
  }
  .faxmark{
    left: 138px;
  }
}



/************************************ header end ************************************/


/************************************ login start ************************************/
@media (max-width:1199px) {
    
}

@media (max-width:991px) {
  .login_area {
    display: block;
    padding: 10px 50px 10px 50px;
    
}

.user-heading {
  padding: 30px 0px 30px 0px;
}
.icons-list {
  padding: 40px 0px 50px 0px;
}

.login-info {
  background: #383838;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
}
.login-img img {
  display: none;
}
}


@media (max-width:767px) {
  
}

@media (max-width:576px) {
  .login_area {
    display: block;
    padding: 10px 10px 10px 10px;
    
}

.input {
  width: 288px;
}
.icons-list {
  margin: 0px 0px 0px 0px;
}
.button {
  width: 288px;
}
}

@media (max-width:320px) {
 
}






/************************************ login end 
************************************/




/************************************ signUp start ************************************/
@media (max-width:1199px) {
    
}

@media (max-width:991px) {
  .SignUp_area {
    display: block;
    padding: 10px 10px 10px 10px;
    
  }
  .SignUp-img img {
    display: none;
  }
  
  .signUp-info{
    border-radius: 10px 10px 10px 10px;
  }
}


@media (max-width:767px) {
  
}

@media (max-width:576px) {
  
}

@media (max-width:320px) {
 
}





/************************************ signUp end ************************************/